* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

/* General */

.hide {
    opacity: 0;
}

.show {
    opacity: 1;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.p--block {
    display: block;
}

.p--set-margin {
    margin: 10px 0;
}

.p--set-title {
    font-weight: 700;
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
    margin: 0 0 20px;
}

.p--set-importance {
    font-weight: 700;
    font-size: 24px;
    color: #ff5100;
}

.btn {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn--primary {
    padding: 10px;
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
    text-decoration: none;
}

.btn--secondary {
    padding: 10px;
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
}

.btn--grn {
    padding: 10px;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn--info {
    padding: 10px;
    color: #fff;
    background-color: #117a8b;
    border-color: #10707f;
}

.btn--warning {
    padding: 10px;
    color: #212529;
    background-color: #d39e00;
    border-color: #c69500;
}

.btn--danger {
    padding: 10px;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.form-control {
    display: inline-block;
    height: 48px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Main */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.box {
    border-radius: 45px;
    background-color: #f0ece1;
    min-height: 600px;
    min-width: 400px;
    margin: 0 30px;
    padding: 20px 25px;
}

.balloon {
    width: 200px;
    height: 50px;
    background-color: #fff;
    top: 55px;
    left: 62px;
    border-radius: 5px;
    padding: 15px;
    filter: drop-shadow(0 1px 2px rgb(255, 0, 0));
}

.angle::before {
    content: "";
    position: absolute;
    bottom: 45px;
    right: 15px;
    width: 10px;
    height: 10px;
    background: #fff;
    /* Rotazione */
    transform: rotate(45deg);
}

#surname-list li {
    list-style: none;
    text-align: left;
    border-bottom: 3px #ccc solid;
    border-radius: 20px;
    margin: 6px 0;
}

#surname-list li span {
    margin: 0 10px;
    font-size: 22px;
}

/* Animations */
@keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        transform: translate3d(0, -4px, 0);
    }
}

.bounce {
    animation-name: bounce;
    transform-origin: center bottom;
    animation-duration: 1s;
    animation-fill-mode: both;
}
